body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #020c34; /* Set this to match the logo's background color */
    color: rgb(244, 243, 243);
}

.watchlist-icon {
    position: absolute;
    top: 10px;
    right: 10px;
  }

.sources{
    border: 1px solid #ccc; /* Add a border around the list */
    border-radius: 5px; /* Optional: rounds the corners of the border */
    padding: 15px; /* Add some padding inside the box */
    list-style-type: none; /* Remove default list item bullets */
    max-width: 300px; /* Set a max-width for the box if desired */
    margin: 0 auto; /* Center the box if desired */
    background-color: #f9f9f9; /* Add a background color to the box */
}

.sources li{
    padding: 5px 0; /* Add padding to each list item for spacing */
    border-bottom: 1px solid #e1e1e1; /* Add a separator between items */
}

.sources li:last-child {
    border-bottom: none;
}

.logo-container img {
    transition: transform 0.3s ease;
    border-radius: 30px;
}

.logo-container img:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}

.search-results{
    text-align: center;
}

.details-content {
    margin-top: 1rem;
    font-family: Arial, sans-serif;
  }
  
  /* Style for the plot overview */
  .details-content p {
    padding-top: 20px;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    line-height: 1.4;
    font-style: italic;
    /* text-align: justify; */
  }
  
  /* Style for the IMDb rating */
  .details-content .rating {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  /* Adjust the image styling to create space around it */
  .details-content img {
   /* adjust as needed */
   max-width: 400px; /* Adjust this value to the desired width */
   height: auto; /* This will maintain the aspect ratio */
   display: block;
   margin-left: auto;
   margin-right: auto;
   transition: transform 0.3s ease;
  }
  
  .details-content img:hover {
    transform: scale(1.05); /* Slightly increase size on hover */
}


  
  /* Clear fix to handle floated images */
  .result-item:after {
    content: "";
    display: table;
    clear: both;
  }

.my-4{
    font-family: 'Roboto Slab', serif;
    font-family: 'Ultra', serif;

}



.search-results{
    padding-top: 40px;
    font-family: 'Roboto Slab', serif;
    font-family: 'Ultra', serif;
}

.logo-container{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
}

.logo-container img{
    width: 400px;
    height: auto;
}

.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#search-box {
    padding: 30px;
    font-size: 1em;
    /* border: 1px solid #ddd; */
    border-radius: 5px 0 0 5px; 
    margin-bottom: 0;
    width: 20%;
    padding: 10px;
    font-size: 1em;

}

#search-button{
    padding: 10px 20px;
    font-size: 1em;
    /* border: 1px solid #ddd; */
    /* background-color: #f0f0f0;  */
    border-radius: 0 5px 5px 0; 
    cursor: pointer;
}

